!.gitkeep

data/

# Laravel, nodeJS, Bower, Gulp exclusions, Composer exclusions
# .htaccess
vendor/
node_modules/
npm-shrinkwrap.json
bower_components/

composer.phar
# composer.lock
phpunit.phar

#public/assets
#public/cv
#public/profiles

public/mix-manifest.json

.env
.env.*.php
.env.php
.sass-cache

# IDE exclusions
.DS_Store
Thumbs.db
.idea
_ide_helper.php
.phpstorm.meta.php
*.sqlite
.rocketeer/



/node_modules
/storage/*.keygit
/vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log

/public/hot
/public/storage
bootstrap/cache/*
bootstrap/cache/
/storage/*.key
yarn-error.log
